.card-footer{
    display: flex!important;
    justify-content: space-between!important;
}
#login{
    color: red;
}
.register-link{
    .red-signin{
        color: red;
        cursor: pointer;
    }
}
.search-box{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        display: flex;
        align-items: center;
    }
    .form-header{
        width:30% ;
        display: flex;
        input{
            min-width: 100px!important;
            flex: 1;
        }
        button{
            width: 65px;
        }
    }
}
.changeusers{
    width: 30%!important;
    margin: 0 auto!important;
}
// .table-data__tool-right{
//     width: 100%;
//     display: flex;
//     padding: 0 15px;
//     margin: 5px;
//     justify-content: flex-end;
// }

